*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
:root{
    --first-text-color:#183b56;
    --second-text-color:#577592;
    --thrid-color:#2294ed;
    --four-color:#1d69a3;
    --padding:20px;
}
body{
    font-family: sans-serif ;
}
h1{
    font-size: 3rem;
}
h2{
    font-size: 2rem;
}
h3{
    font-size: 1.5rem;
}
p{
    font-size: 1.5rem;
    font-family: 'Times New Roman', Times, serif;
    line-height: 25px;
    color: var(--second-text-color);
}
a{
    text-decoration: none;
    color: var(--second-text-color);
}
.top-baner{
    font-size: 1rem;
    font-weight: 700;
    background-color: #2294ed;
    background-image:url(asset\ 30.png) ;
    background-size: 300px;
}
.contaner{
    max-width: 1150px;
    margin: auto;
    overflow: hidden;
    padding: var(--padding);
}
.small-baner{
    text-align: center;
    color: white;
}
.main-navbar{
    display: flex;
    justify-content: space-between;
}
.toggle{
    display: none;
}
.logo{
    cursor: pointer;
}
ul{
    display: flex;
    list-style: none;
    gap: 39px;
    font-size: 22px;
    line-height: 40px;
}
.hover-link:hover{
    color: var(--thrid-color);
}
.box1{
    padding: 12px 15px;
    border: 2px solid rgb(53, 144, 210);
    border-radius: 6px;
    font-weight:600 ;
}
.box2{
    background-color: #2294ed;
    color: white;
}
.box2:hover{
    background-color: #1d69a3;
    color: white;
}
.header-section{
    display: flex;
    justify-content: center;
    gap: 50px;
}
.left-header{
    margin-top: 20px;
    align-items: center;
    max-width: 40vw;
}
.right-header img{
    width: 100%;
}
.box3{
    font-size: 22px;
    padding: 10px 25px;
    border-radius: 6px;
    box-shadow: 0 0 10px gray;
    background-color: #2294ed;
    color: white;
    font-weight: 600;
}
.box3:hover{
    background-color: #1d69a3;
    color: white;
}
.box4{
    margin-bottom: 40px;
}
h1{
    color: #183b56;
    margin-bottom: 10px;
}
.simple-text{
    font-size: 19px;
    font-weight: 600;
    color: #183b56;
    text-align: center;
    margin-bottom: 30px;
}
.logos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.box5{
    height: 60px;
}
.feature-header{
    color: #183b56;
    text-align: center;
    margin-bottom: 80px;

}
.company-section{
    background-image: url(asset\ 32.svg);
    background-repeat: no-repeat;
    background-position: center;
    flex-wrap: wrap;
}
.feat-text{
    margin-bottom: 60px;
}
.box6{
    font-size: 20px;
    border: 1px solid grey;
    padding: 13px 22px;
    border-radius: 5px;
    color: #183b56;
    font-weight: 700;
}
.card{
    max-width: 30%;
    text-align: center;
    padding: 20px 0px;
    flex-direction: column;
}
.feature-services{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;

}
.two{
    font-size: 20px;
    font-weight: 300;
    color: #577592;
    margin-top: 30px;
    margin-bottom: 40px;
}
.three{
    margin-top: 20px;
    color: #183b56;

    font-weight: 600;
    font-size: 25px;
}
.box6:hover{
    color: #2294ed;
}
.flex{
    display: flex;
}
.right-side{
    margin-top: 150px;
    max-width: 40vw;
}
.left-side img{
    width: 100%;
    margin-bottom: 0px;
}
.box-side{
    gap: 10px;
}
.one{
    margin-bottom: 7px;
    font-size: 18px;
    color: #183b56;
}
.too{
    font-size: 26px;
    color: #183b56;
    margin-bottom: 10px;
}
.thr{
    font-size: 20px;
    line-height: 27px;
}
/*com pany-example */
.example-card{
    width: 23%;
    height: 280px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: end;
    cursor: pointer;
    transition: 0.3s linear;
}
.example-card:nth-child(1){
    background-image: url(download\ \(1\).jpeg);
}
.example-card:nth-child(2){
    background-image: url(download\ \(2\).jpeg);
}
.example-card:nth-child(3){
    background-image: url(cosmos-flower-cosmos-plant-pink-flowers-pictures-of-flowers-royalty-free-thumbnail.jpg);
}
.example-card:nth-child(4){
    background: linear-gradient(to right bottom,#0b1f57,#570722);
}
.example-card:hover{
    box-shadow: 0px 0px 15px grey;
}
.cards-text{
    color: white;
    padding: 8px;
    
}
.example-cardimg{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
/*footer*/
.compant-foot{
    background: linear-gradient(to top left,rgb(110, 12, 38),rgb(12, 32, 114));
    background-size: cover;
}
.box7{
    display: flex;
    flex-direction: column;
}
.footr{
    padding-top: 90px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
h4{
    font-size: 24px;
}
.box8{
    color: rgb(193, 190, 190);
    line-height: 40px;
    font-size: 18px;
}
